<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" routerLink="">
          <i-monitor></i-monitor>
          Dashboard <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="hash-tag">
          <i-tag></i-tag>
          Discover Tags
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="users">
          <i-users></i-users>
          Discover People
        </a>
      </li>
      <!--<li class="nav-item">-->
      <!--<a class="nav-link" routerLink="/hashtags/feed">-->
      <!--<i-tag></i-tag>-->
      <!--Tags-->
      <!--</a>-->
      <!--</li>-->
      <!--<li class="nav-item">-->
      <!--<a class="nav-link" href="#">-->
      <!--<i-shopping-cart></i-shopping-cart>-->
      <!--Products-->
      <!--</a>-->
      <!--</li>-->
      <!--<li class="nav-item">-->
      <!--<a class="nav-link" href="#">-->
      <!--<i-bar-chart-2></i-bar-chart-2>-->
      <!--Reports-->
      <!--</a>-->
      <!--</li>-->
      <!--<li class="nav-item">-->
      <!--<a class="nav-link" href="#">-->
      <!--<i-layers></i-layers>-->
      <!--Integrations-->
      <!--</a>-->
      <!--</li>-->
    </ul>

    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
      <span>Saved reports</span>
      <a class="d-flex align-items-center text-muted" href="#">
        <i-plus-circle></i-plus-circle>
      </a>
    </h6>
    <ul class="nav flex-column mb-2">
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i-file-text></i-file-text>
          Current month
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i-file-text></i-file-text>
          Last quarter
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i-file-text></i-file-text>
          Social engagement
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i-file-text></i-file-text>
          Year-end sale
        </a>
      </li>
    </ul>
  </div>
</nav>
