<div *ngIf="users">
  <div class="card-columns">
    <div class="card" *ngFor="let user of users">
      <div *ngIf="user.user_type == 1">
        <img (click)="showItemDetails(user)" class="card-img-top" src="{{user.profile_pic_url}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title" (click)="showItemDetails(user)">{{user.full_name}} ({{user.username}})</h5>
          <div class="row">
            <div class="col">
              <strong>{{user.media_count}}</strong> публикаций
            </div>
            <div class="col">
              <strong>{{user.follower_count}}</strong> подписчиков
            </div>
            <div class="col">
              Подписки: <strong>{{user.following_count}}</strong>
            </div>
          </div>
          <p class="card-text">{{user.biography}}</p>
          <div class="row">
            <button type="button" (click)="setAsInteresting(user)" class="btn btn-sm btn-outline-success" style="margin-right: 5px">Ok</button>
            <button type="button" (click)="setAsNotInteresting(user)" class="btn btn-sm btn-outline-danger">Not interested</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
